ul{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 420px;
  margin-top: -110px;
  
  
}

li{
  float: left;
  font-weight: 500;
  padding: 15px;
  
  
  
}
a:link{

width: 100px;
text-decoration: none;
display: inline;
text-align: center;
padding: 0px;
font-family: "TT Norms", Sans-serif;
font-size: 10px;

}
img{
  max-width: 100%;
  max-height: 100%;
}
#me{
  width: 230px;
  height: 100px;
  padding-top: 25px;
  margin-left: 60px;
}

.bi{
  margin-left: 29px;
 
}

.btn{
  background: #BF2E48;
  border: 1px solid #BF2E48;
  font-size: 14px;
  letter-spacing: .7px;
  font-weight: 500;
  border-radius: 18px;
  padding: 0 20px;
  width: fit-content;
  height: 30px;
}
.no{
  margin-left: 350px;
}

.aa{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -100px;
}
.qq{
  float: left;
  
  padding: 12px;
}
.ss{
  
width: 100px;
text-decoration: none;
display: inline;
text-align: center;
padding: 0px;
font-family: "TT Norms", Sans-serif;
font-size: 12px;
font-weight: 600;
}
#ww{
  margin-top: 100px;
}
#qa{
  width: 100%;
  height: 620px;
  box-sizing: border-box;
  background-color: #ececec;
  margin-top: 0px;
}
#jj{
  font-family: "TT Norms", Sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #202124;
    padding: 50px;
    margin-left: 185px;
}
.card-text{
  text-align: center;
  color: white;
    font-family: "TT Norms", Sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.card-t{
  text-align: center;
  color:  white;
  font-family: "TT Norms", Sans-serif;
  font-size: 30px;

}

#ba{
  margin-left: 330px;
}
.card-img-overlay{
  padding-top: 250px;
}

.card-title{
  text-align: center;
  color:  white;
  font-family: "TT Norms", Sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.card-tex{
  text-align: center;
  color:  white;
  font-family: "TT Norms", Sans-serif;
  font-size: 25px;
  font-weight: 400;
}
#mmnm{
  margin-top: 50px;
}

#yu{
  margin-left: 100px;
}
#cc{
  text-align: center;
  font-family: "TT Norms", Sans-serif;
  margin-left: -710px;
  margin-top: 20px;
  color: white;
}
#vx{
  margin-left: 420px;
  margin-top: -120px;
}
#cm{
  text-align: center;
  margin-left: -450px;
  color: white;
  margin-top: 20px;
  font-family: "TT Norms", Sans-serif;
}
#za{
margin-left: 700px;
margin-top: -120px;
}
#bxx{
  margin-top: 20px;
  margin-left: -80px;
  text-align: center; 
  color: white;
  font-family: "TT Norms", Sans-serif;
}
#rd{
  padding-top: 30px;
  text-align: center;
}

#jju{
  margin-left: 200px;
  padding-top: 20px;
}

#ty{
  padding-top: 20px;
  margin-left: 20px;
  font-family: "TT Norms", Sans-serif;
}
#ok{
  margin-left: 800px;
  margin-top: -50px;
}

#tv{
  margin-top: 30px;
  margin-left: 20px;
  font-family: "TT Norms", Sans-serif;
}

#okr{
  margin-left: 800px;
  margin-top: -50px;
}

#tz{
  margin-left: 20px;
  font-family: "TT Norms", Sans-serif;
  margin-top: 30px;

}

#okm{
  margin-left: 800px;
  margin-top: -40px;
}

#jh{
 padding-top: 150px;
 text-align: center;
 font-family: "TT Norms", Sans-serif;
}

#zxz{
  text-align: center;
  padding-top: 10px;
  font-family: "TT Norms", Sans-serif;

}

#xxc{
 padding-top: 10px;
}

.cart{
  margin-left: -700px;
  font-family: "TT Norms", Sans-serif;
  margin-top: -100px;
}

.cardm{
  font-size: 15px;
  font-family: "TT Norms", Sans-serif;
  margin-top: 50px;
  margin-left: -600px;
}

#nbnb{

margin-top: -100px;
margin-left: 500px;

}


#fgf{
  margin-left: 600px;
  padding-top: 40px;
}
